:host ::ng-deep {
  & .p-dialog{
    height: 65vh;
    width: 50vw;

    & .p-dialog-header{
      color: white;
      background-color: #274f33;
    }

    & .p-dialog-content{
      & .p-input{
        padding: 10px;
        width: 100%;
        height: 100%;
        .box {
          width: 100%;
          height: 100%;
          display: flex;
          .inside{
            width: 100%;
            font-weight: bold;
          }
        }
      }
    }

    & .p-dialog-footer{
      & .p-button{
        background-color: #006D50;
        color: white;
      }
    }
  }
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
