<p-button (click)="toggleDialog()" icon="pi pi-window-maximize" styleClass="p-button-text"></p-button>
<p-dialog class="header" header="{{ editText.title }}" [(visible)]="isDialogVisibled" [modal]="true" (onHide)="closeDialog()">
  <ng-template pTemplate="content">
    <div class="p-input">
      <div class="box">
        <div class="inside">
          <textarea pInputTextarea [(ngModel)]="editText.summary" [style]="{ width: '100%', height: '100%'}"></textarea>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="取消" (click)="closeDialog()"></p-button>
    <p-button label="確定" (click)="doModifyText()"></p-button>
  </ng-template>
</p-dialog>
