<div class="body">
  <div class="bodytext">
    <p-dataView [value]="items()">
      <ng-template let-item pTemplate="listItem">
        <p-panel>
          <ng-template pTemplate="header">
            <strong>{{ item.title }}</strong>
            <!-- show dialog -->
            <his-text-dialog (changes)="onModifySoac($event)" [text]="item"/>
          </ng-template>
          <textarea pInputTextarea [(ngModel)]="item.summary" [style]="{ width: '100%', height: '15vh'}"></textarea>
        </p-panel>
      </ng-template>
    </p-dataView>
  </div>
</div>
