.body {
  padding-top: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.bodytext {
  width: 30%;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr; /* Adjust the number of columns as needed */
  gap: 1rem; /* Adjust the gap between grid items as needed */
  justify-items: center; /* Adjust alignment as needed */
}
